/* Debut en-tête */
/* Bar de navigation */
.navBar{
    width: 100%;
    height: 76px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
}
/* Logo texte */
.logoDiv{
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 61px;
}
.titreOrange{
    font-size: 16px;
    color: orange;
}
.titreNoir{
    color: black;
}
/* Bouton nos contact */
#btnConnecter{
    width: 110px;
    height: 36px;
    background-color: white;
    color: black;
    border: 1px solid orange;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 61px;
    &:hover{
        box-shadow: 0px 4px 4px rgba(225, 165, 0, 0.25);
    }
}
/* Fin en-tête*/
/* Debut main */
/* Style du blog blanc, orange et photo de profile */
.blogContainer{
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.blogOrange{
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    background-color: orange; /*rgba(225, 165, 0, 1); */
    
}
.odkDiv{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.odkDivText{
    width: fit-content;
    margin-top: auto;
}
/* le @ */
.text{
    margin-right: 15px;
    font-weight: bold;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: end;
}
.odkText{
    width: fit-content;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}
#photoProfile{
    position: absolute;
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
    left: 15px;
    z-index: 1;
    transition: all 1s;
    &:hover{
        width: 200px;;
    }
}
.blogBlanc{
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 30px 30px;
    background-color: white;
}
.divGroupe{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    
}
.btnGroupe{
    margin-top: auto;
    margin-bottom: 10px;
}
.infoGroupe{
    margin-top: auto;
}
.infoGroupe .tite{
    font-size: 20px;
}

/* Debut formulaire */
.infTitle{
    margin-left: 15px;
    padding-top: 15px;
    color: orange;
}
#myForm{
    display: flex;
    justify-content: space-between;
}
.formInputDiv{
    width: 100%;
}
.formInputDiv input{
    width: 95%;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(217, 217, 217,0.50);
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-bottom: 36px;
    margin-top: 5px;
}
.formGDiv{
    margin-left: 15px;
    
    display: flex;
    justify-content: space-between;
}
.formGroupe{
    align-items: center;
    width: 50%;
}

/* modal */
#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.11);
}
#modal-content{
    position: absolute;
    width: fit-content;
    top: 7px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 76px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
    animation: fadeIn 1s; /* popup 0.7s */
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
}

#losange{
    position: absolute;
    left: 60%;
    top: -7.5px;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    rotate: 45deg;
}

/* @keyframes popup {
    0%{
        transform: scale(1);
      }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}
@-moz-keyframes popup {
    0%{
        transform: scale(1);
      }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}
@-webkit-keyframes popup {
    0%{
        transform: scale(1);
      }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
} */

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}