/* Debut en-tête */
/* Bar de navigation */
.navBar{
    width: 100%;
    height: 76px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
}
/* Logo texte */
.logoDiv{
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 61px;
}
.titreOrange{
    font-size: 16px;
    color: orange;
}
.titreNoir{
    color: black;
}
/* Bouton nos contact */
#btnConnecter{
    width: 110px;
    height: 36px;
    background-color: white;
    color: black;
    border: 1px solid orange;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 61px;
    &:hover{
        box-shadow: 0px 4px 4px rgba(225, 165, 0, 0.25);
    }
}
/* Fin en-tête*/
.titreList{
    font-size: 40px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 100px;
}
.line{
    width: 100%;
    height: 0px;
    border-bottom: 1px solid black;
    position: relative;
}
.cercle{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: orange;
    position: absolute;
    left: 50%;
    top: -5px;
}

#list{
    width: 90%;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}
#list .card{
    border-radius: 10px;
    height: fit-content;
    border-top: 2px solid black;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 4px 4px rgba(225, 165, 0, 0.5);
        border: none;
    }
}
#list .divNomOeil{
    display: flex;
    justify-content: space-between;
}
#list .divOeil{
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto
}
#list img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#list .oeil{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
#list p{
    font-size: 15px;
    text-align: center;
}
#promo {
    border: none;
    height: fit-content;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 61px;
}
#promo option {
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 15px;
    margin: 15px;
}

/* modal */
#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.11);
}
#modal-content{
    position: absolute;
    width: fit-content;
    top: 7px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 76px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
    animation: fadeIn 1s; /* popup 0.7s */
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
}

#losange{
    position: absolute;
    left: 60%;
    top: -7.5px;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    rotate: 45deg;
}

/* @keyframes popup {
    0%{
        transform: scale(1);
      }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}
@-moz-keyframes popup {
    0%{
        transform: scale(1);
      }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}
@-webkit-keyframes popup {
    0%{
        transform: scale(1);
      }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
} */

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}